.container {
  padding-top: 5rem;
}

// LiveStream
.liveStream {
  width: 80%;
  height: 30vh;
  background-color: #eee;
  margin-bottom: 2rem;
}

// LiveChat
.liveChat {
  width: 80%;
  height: 30vh;
  background-color: #eee;
}
