.container {
  h1 {
    font-size: 1.85rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 1.5rem;
  }
  .liveBtn {
    background-color: #ffdcdc;
    color: #da3017;
    border-radius: 10rem;
    font-weight: 800;
    height: 2rem;
    width: 6rem;
    text-align: center;
  }
}

// LiveStream
.liveBox {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  .liveStreamContainer {
    width: 65%;
    background-color: black;
  }

  .liveChatContainer {
    border: 1px solid #eee;
    width: 34%;
    padding: 2rem 1.5rem;
    .createChat {
      display: flex;
      margin-bottom: 1rem;
      input {
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: #f8f8f8;
        border-radius: 50px;
        width: 100%;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
      }
      img {
        width: 2rem;
      }
    }
    .liveChat {
      display: flex;
      flex-direction: column;
      height: 90%;
      overflow-y: scroll;

      .liveChatBox {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        font-size: 1rem;
        img {
          width: 2rem;
        }
        .userName {
          color: #999;
          margin: 0 1rem;
        }
      }
    }
  }
}
