$main-color: #ff1e1e;
.header {
  padding: 0.8rem 0;
  border-bottom: 0.1rem solid #eee;
  .innerBox {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navi {
      display: flex;
      align-items: center;
      li {
        margin: 0 2.8rem;
        font-weight: 300;
        &:first-child {
          margin: 0 2rem 0 3rem;
          font-weight: 700;
          display: flex;
          align-items: center;
          &::after,
          &::before {
            content: '•';
            color: $main-color;
            margin: 0.5rem;
            font-size: 2rem;
          }
        }
        a {
          color: #000;
          font-size: 1.1rem;
        }
      }
    }
    .searchInput {
      position: relative;
      input {
        height: 2.2rem;
        width: 15rem;
        background-color: #ffdcdc;
        border: none;
        border-radius: 5rem;
        padding: 0 1rem;
      }
      button {
        position: absolute;
        right: 0.3rem;
        top: 0rem;
      }
    }

    .account {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 700;
      width: 10rem;
      .line {
        padding: 0 1rem;
        color: #eee;
      }
      span:first-child {
        color: $main-color;
      }
    }
    .barIcon {
      display: none;
    }
  }
}

@media (max-width: 1079px) {
  .header {
    .innerBox {
      padding: 0 1rem;
      h1 {
        margin-right: 3.5rem;
      }
      .navi,
      .account {
        display: none;
      }
      .barIcon {
        cursor: pointer;
        display: inline;
        width: 1.5rem;
        transition: 0.5s;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

@media (max-width: 480px) {
}
