.scrollBtn {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  right: 0.5rem;
  border-radius: 50%;
  background-color: #da3017;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--color-main-bg-hover);
  }

  .arrowUpIcon,
  .arrowDownIcon {
    font-size: 1.5rem;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .scrollBtn {
    bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .scrollBtn {
    bottom: 0.5rem;
    right: 0.1rem;
  }
}
