.bg {
  background-color: var(--color-main-bg);
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  .snowman {
    position: absolute;
    right: 2.5rem;
    bottom: 6.6rem;
    width: 12rem;
  }
  .snowBgSecond {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 100%;
    background-color: var(--color-main-ground-two-bg);
  }
  .snowBg {
    position: absolute;
    bottom: 0;
    background-color: var(--color-main-ground-bg);
    border-radius: 0 20rem 0 0;
    height: 14.5rem;
    width: 62rem;
  }
  .santa {
    position: absolute;
    bottom: 8rem;
    left: 9.4rem;
    transform: scaleX(-1);
    width: 30rem;
  }
  .tree {
    display: flex;
    li {
      img {
        position: absolute;
        top: -16.6rem;
        width: 5rem;
      }
    }
    li:nth-child(7) {
      img {
        right: 20rem;
        top: -9rem;
      }
    }
    li:nth-child(6) {
      img {
        right: 23.5rem;
        top: -9rem;
      }
    }
    li:nth-child(5) {
      img {
        right: 27rem;
        top: -9rem;
      }
    }
    li:nth-child(4) {
      img {
        left: -1.5rem;
      }
    }
    li:nth-child(3) {
      img {
        left: 2rem;
      }
    }
    li:nth-child(2) {
      img {
        // top: -18.6rem;
        left: 41rem;
      }
    }
    li:nth-child(1) {
      img {
        left: 44.5rem;
      }
    }
  }
}

// popular video List
.videoList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;

  .videoCard {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      border-radius: 0px;

      img {
        border-radius: 0;
      }
    }

    .videoImage {
      width: 100%;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    .videoCard {
      width: calc(80% - 20px);
    }
  }

  @media (max-width: 480px) {
    .videoCard {
      width: 100%;
    }
  }
}

.videoLink {
  text-decoration: none;
}

.title {
  padding: 5px 13px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // 텍스트가 오버플로우 될 때 "..." 표시
    max-width: 100%;
  }
}

.channelTitle {
  padding: 10px 13px;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    font-weight: 500;
    transform: perspective(1300px) translateZ(15px);
  }
}

.publishedAt {
  opacity: 0.6;
  padding: 5px 0px 20px 15px;
  font-size: 0.8rem;
}

.notFound {
  text-align: center;
  position: relative;
  background-color: var(--color-error-bg);
  height: 100vh;
  div {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-54%, -50%);
    p.tag {
      display: inline-block;
      padding: 0.5rem 0.8rem;
      color: #da3017;
      font-weight: 800;
      border-radius: 20rem;
      background-color: #ffdcdc;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 1rem 0 2rem;
    }
    img {
      width: 15rem;
      margin: auto;
      display: block;
      margin-bottom: 2rem;
    }
    a {
      text-decoration: underline;
      font-weight: 500;
      color: var(--color-text);
    }
  }
}
