.bg {
  background-color: var(--color-main-bg);
  height: 40rem;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  .snowBg {
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 0 20rem 0 0;
    height: 16rem;
    width: 72rem;
  }
  .santa {
    position: absolute;
    top: 3rem;
    left: 12.5rem;
    transform: scaleX(-1);
    width: 30rem;
  }
  .tree {
    display: flex;
    li {
      img {
        position: absolute;
        top: 13rem;
        width: 4.5rem;
      }
    }
    li:nth-child(4) {
      img {
        left: -1.5rem;
      }
    }
    li:nth-child(3) {
      img {
        left: 2rem;
      }
    }
    li:nth-child(2) {
      img {
        top: 12.9rem;
        left: 46rem;
      }
    }
    li:nth-child(1) {
      img {
        left: 49.9rem;
      }
    }
  }
}

// popular video List
$color-primary: #ff1e1e;
$color-primary-hover: #ee1818;

.videoList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;

  .videoCard {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      border-radius: 0px;

      img {
        border-radius: 0;
      }
    }

    .videoImage {
      width: 100%;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    .videoCard {
      width: calc(80% - 20px);
    }
  }

  @media (max-width: 480px) {
    .videoCard {
      width: 100%;
    }
  }
}

.videoLink {
  text-decoration: none;
}

.title {
  padding: 5px 13px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // 텍스트가 오버플로우 될 때 "..." 표시
    max-width: 100%;
  }
}

.channelTitle {
  padding: 10px 13px;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    font-weight: 500;
    transform: perspective(1300px) translateZ(15px);
  }
}

.publishedAt {
  opacity: 0.6;
  padding: 5px 0px 20px 15px;
  font-size: 0.8rem;
}

.scrollBtn {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  background-color: $color-primary;
  transition: 0.3s ease;

  &:hover {
    background-color: $color-primary-hover;
  }

  .arrowUpIcon,
  .arrowDownIcon {
    font-size: 1.5rem;
    color: #fff;
  }
}
