.bg {
  background-color: var(--color-main-bg);
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  .snowman {
    display: block;
    position: absolute;
    right: 2.5rem;
    bottom: 6.6rem;
    width: 12rem;
  }
  .snowBgSecond {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 100%;
    background-color: var(--color-main-ground-two-bg);
    transition: all 0.3s ease-in-out;
  }
  .snowBg {
    position: absolute;
    bottom: 0;
    background-color: var(--color-main-ground-bg);
    border-radius: 0 20rem 0 0;
    height: 14.5rem;
    width: 62rem;
    transition: all 0.3s ease-in-out;
  }
  .santa {
    position: absolute;
    bottom: 8rem;
    left: 9.4rem;
    transform: scaleX(-1);
    width: 30rem;
  }
  .tree {
    li {
      img {
        position: absolute;
        bottom: 11.2rem;
        width: 5rem;
      }
    }
    li:nth-child(7) {
      display: block;
      img {
        right: 20rem;
        top: -9rem;
      }
    }
    li:nth-child(6) {
      display: block;
      img {
        right: 23.5rem;
        top: -9rem;
      }
    }
    li:nth-child(5) {
      display: block;
      img {
        right: 27rem;
        top: -9rem;
      }
    }
    li:nth-child(4) {
      img {
        left: -1.5rem;
      }
    }
    li:nth-child(3) {
      img {
        left: 2rem;
      }
    }
    li:nth-child(2) {
      img {
        // top: -18.6rem;
        left: 41rem;
      }
    }
    li:nth-child(1) {
      img {
        left: 44.5rem;
      }
    }
  }
  .snow {
    mix-blend-mode: plus-lighter;
  }
  .counter {
    color: white;
    text-align: center;
    position: absolute;
    right: 16rem;
    top: 6rem;

    h2 {
      font-size: 5.8rem;
      font-weight: 800;
    }
    h4 {
      color: #ebff6f;
      font-size: 3.5rem;
      padding-bottom: 0.6rem;
    }
  }
}

// popular video List

.videoList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;

  .videoCard {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      border-radius: 0px;

      img {
        border-radius: 0;
      }
    }

    .videoImage {
      width: 100%;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    .videoList {
      padding: 0 .625rem;

      .videoCard {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.videoLink {
  text-decoration: none;
}

.title {
  padding: 5px 13px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // 텍스트가 오버플로우 될 때 "..." 표시
    max-width: 100%;
  }
}

.channelTitle {
  padding: 10px 13px;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    font-weight: 500;
    transform: perspective(1300px) translateZ(15px);
  }
}

.publishedAt {
  opacity: 0.6;
  padding: 5px 0px 20px 15px;
  font-size: 0.8rem;
}

.notFound {
  text-align: center;
  position: relative;
  background-color: var(--color-error-bg);

  height: 100vh;
  div {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-54%, -50%);
    p.tag {
      display: inline-block;
      padding: 0.5rem 0.8rem;
      color: #da3017;
      font-weight: 800;
      border-radius: 20rem;
      background-color: #ffdcdc;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 1rem 0 2rem;
    }
    img {
      width: 15rem;
      margin: auto;
      display: block;
      margin-bottom: 2rem;
    }
    a {
      text-decoration: underline;
      font-weight: 500;
      color: var(--color-text);
      transition: all 0.3s ease-in-out;
    }
  }
}

.Loading {
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: var(--color-error-bg);

  div {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-56%, -50%);
    p.tag {
      display: inline-block;
      padding: 0.5rem 0.8rem;
      color: #4bad1c;
      font-weight: 800;
      border-radius: 20rem;
      background-color: #d8ffb9;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 1rem 0 2rem;
    }
    img {
      width: 16rem;
      margin: auto;
      display: block;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 1136px) {
  .bg {
    position: relative;
    width: 100%;
    .snowBg {
      width: inherit;
      border-radius: 0;
      height: 10rem;
    }
    .snowman {
      display: none;
    }
    .tree {
      li img {
        position: absolute;
        bottom: 6.8rem;
      }
      li:nth-child(2) {
        img {
          left: auto;
          right: 7%;
        }
      }
      li:nth-child(1) {
        img {
          left: auto;
          right: 0;
        }
      }
      li:nth-child(7) {
        display: none;
        img {
          right: 20rem;
          top: -9rem;
        }
      }
      li:nth-child(6) {
        display: none;
        img {
          right: 23.5rem;
          top: -9rem;
        }
      }
      li:nth-child(5) {
        display: none;
        img {
          right: 27rem;
          top: -9rem;
        }
      }
    }
    .santa {
      transition: 0.8s;
      transform: scaleX(-1) scale(70%);
      width: 25rem;
      bottom: -2rem;
      left: 2.8%
    }
    .counter {
      position: absolute;
      top: 5rem;
      right: 50%;
      transform: translateX(50%);

      h2 {
        font-size: 5.2rem;
        white-space: nowrap;
      }
      h4 {
        font-size: 3.2rem;
        white-space: nowrap;
      }
    }
  }
}
